


<table>
  <thead>
<tr>
  <th>name</th>
  <th>summary</th>
  <th>genres</th>
  <th>screenshots</th>
  <th>cover</th>
  <th>video</th>
</tr>
  </thead>
  <tbody>
    <tr>
      <td>{{jeux[this.id]['name']}}</td>
      <td>{{jeux[this.id]['summary']}}</td>
      <td>{{jeux[this.id]['genres']}}</td>
      <td>{{jeux[this.id]['screenshots']['url']}}</td>
      <td><img src="{{jeux[this.id]['cover']['url']}}" alt=""></td>
      <td>{{jeux[this.id]['videos.name']}}</td>
      <td>{{jeux[this.id]['videos']['video_id']}}</td>
      <td id="cssonclickswitch">
        <a><img src="./coeur.jpg" alt="wine" height="50" width="50">
          <span>
            <img src="./coeur2.png" alt="wine" height="50" width="50">
          </span>
        </a>
      </td>
    </tr>
  </tbody>
</table>
